body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-blend-mode: multiply;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.card{
   
    width: 324px;
    height: 450px;
    cursor: pointer;
    background: linear-gradient(180deg,orange,rgb(249,70,100),rgb(244,43,244));
    transition: all 0.3s;
    transform-style: preserve-3d;  
    border-radius: 20px;
}

.child-card{
   
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.518);
    transition: all 0.3s;
    object-fit: cover;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    scale: 0.98;
}
.card:hover{

    border-radius: 20px;
    box-shadow: 0px 0px 50px #18dde9;
    text-shadow: 2px 2px black;

}
.card:hover .child-card{
    background-color: rgba(0, 0, 0, 0.425);
    scale: 1;
    border-radius: 20px;
    text-shadow: 2px 4px black;
}
.child-card .name {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    font-size: large;
    color:white;
    
}
.child-card .id .user{
    display: flex;
    flex-direction: column;
    margin-left: 76;
    font-size: 14px;
    margin-top: 50px;
    color: white;
    
}
.child-card .id .pass{
    display: flex;
    flex-direction: column;
    margin-left: 76;
    font-size: 14px;
    padding-top: 12px;
    color: white;
    

}
.child-card .id .email{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
    font-size: smaller;
    padding-top: 2px;
    padding-bottom: 4px;
    margin-left: 60px;
    padding-right: 28px;
    background-color: rgba(255, 255, 255, 0.683);
    box-shadow: 0 5px 10px rgb(15, 1, 1);
    border-radius: 12px;
    border: none;
    color: black;
    padding-left: 8px;
    margin-top: 4px;

}
.child-card .id .password{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
    margin-left: 60px;
    font-size: smaller;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 28px;
    margin-top: 4px;
    background-color: rgba(255, 255, 255, 0.683);
    box-shadow: 0 5px 10px rgb(15, 1, 1);
    border: none;
    border-radius: 12px;
    color: black;
    padding-left: 8px;
    
    
}
.button .login{
    opacity: 0.6;
    background-color: beige;
    width: 56px;
    height: 26px;
    border-radius: 16px;
    border: none;
    box-shadow: 0 5px 10px rgb(15, 1, 1);
    margin-right: 16px;
    margin-top: 28px;
    padding-left:50 ;
    padding-right: 90;
    margin-left: 86px;
    cursor: pointer;
    }

    .id .forgot{
        margin-left: 190;
        color:white;
        font-size: 11px;
        margin-bottom: 6;
        
    }
    .child-card .name2{
        color: white;
        font-size: 11;
        margin-left: 116;
        margin-top: 24px;
    }
    img{
        background: white;
        width: 24;
        margin-right: 6px;
        border-radius: 12px;
        margin-bottom: 22px;
        box-shadow: 0 5px 10px rgb(15, 1, 1);
       
    }
    .image1{
        background: white;
        width: 24;
        margin-left: 112px;
        border-radius: 12px;
    }
    .child-card .up{
        color: white;
        font-size: 14px;
        margin-left: 134px;
        
        
    }
    .button .login:hover{
        background-color: beige;
         opacity: 0.8;
         
     }
     .button .login:active{
     
         background-color: beige;
         opacity: 1;
     }
     